# large experiment outputs
FL_models/
data/
datasets/
wandb/
runs/
outputs/
checkpoints/
analysis_auc_short/

# model/data files
*.pth
*.pt
*.ckpt
*.pkl
*.npy
*.npz
*.zip
*.tar
*.tar.gz

# python cache
__pycache__/
*.pyc

# system
.DS_Store
